{{define "title"}}Horace Abenga{{end}}

{{define "content"}}

{{if index .Misc "Posts" }}
  <h2>Recent Posts</h2>
  {{ range index .Misc "Posts"}}
    <div class="card">
      <!--<img class="card-img-top" src="..." alt="Card image cap">-->
      <div class="card-block">
        <h2 class="card-title"><a href="post/{{ index . "YearAdded" }}/{{ index . "MonthAdded" }}/{{ index . "DayAdded" }}/{{ index . "JoinedTitle" }}/">{{ if index . "SeriesTitle" }}{{ index . "SeriesTitle" }}&nbsp;- {{ .PositionInSeries }}:&nbsp;{{ end }}{{ index . "Title" }}</a></h2>

        <div class="card-text">{{ index . "AbstractHTML" }}</div>
        <p class="text-right"><a class="btn btn-sm btn-primary" href="post/{{ index . "YearAdded" }}/{{ index . "MonthAdded" }}/{{ index . "DayAdded" }}/{{ index . "JoinedTitle" }}/"><i class="fa fa-book"></i>&nbsp;read</a></p>
      </div>
    </div>

  {{ end }}
{{ end }}

{{end}}